@model ExcellentTasteCore.Models.Bestelling

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bestelling</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aantal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeBereidingConsumptie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeBereidingConsumptie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totaal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totaal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumptieItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumptieItem.ConsumptieItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservering.ReserveringId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BestellingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
