@model IEnumerable<ExcellentTasteCore.Models.ConsumptieItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dranken
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumptieGroep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieItemNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieGroep.ConsumptieGroepCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConsumptieItemCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConsumptieItemCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConsumptieItemCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
